@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 5rem;
  background-color: #ffffff;
}

.container {
  background-color: #f7f7f7;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}

.title-first {
  color: #ffffff;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.title-secondary {
  text-align: center;
  display: inline-block;
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 0.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-secondary:hover {
  transform: skewX(15deg) skewY(2deg) scale(1.1);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #ffffff;
}

.title-third {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0.2rem;
}

.text-align-center {
  text-align: center;
}

.magrgin-bottom-10px {
  margin-bottom: 1rem;
}

.magrgin-bottom-30px {
  margin-bottom: 3rem;
}

.magrgin-bottom-50px {
  margin-bottom: 5rem;
}

.magrgin-bottom-80px {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  background: #ffffff;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn::after {
  content: "";
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn_animated {
  -webkit-animation: btnToUp 0.5s ease-out 0.7s;
          animation: btnToUp 0.5s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  color: #BA8554;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 1px solid #A14F03;
  display: inline-block;
  transition: 0.5s all;
}
.btn-text:hover {
  background-color: #BA8554;
  color: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.compositions {
  position: relative;
}
.compositions__photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.compositions__photo_n1 {
  top: 0;
  left: 0;
}
.compositions__photo_n2 {
  top: 2rem;
  right: 0;
}
.compositions__photo_n3 {
  top: 13rem;
  left: 10rem;
}
.compositions__photo:hover {
  outline: 1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.compositions:hover .compositions__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.2s all;
}
.adventure-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.adventure-card__icon {
  font-size: 6rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(161, 79, 3, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
.card-tour__side {
  height: 50rem;
  transition: all 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-tour__side_back {
  background: green;
  transform: rotateY(180deg);
  background: linear-gradient(120deg, #BA8554, #A14F03);
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0);
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-tour__img_1 {
  background: #BA8554 url(../img/tour/tour-1.jpg) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url(../img/tour/tour-2.jpg) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url(../img/tour/tour-3.jpg) center/cover no-repeat;
}
.card-tour__title {
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: right;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 17rem;
  right: 0;
}
.card-tour__span {
  background: linear-gradient(90deg, #BA8554, #A14F03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0;
  padding-bottom: 1rem;
  padding-top: 0;
}
.card-tour__desct ul {
  list-style: none;
  margin: 0 auto;
}
.card-tour__desct ul li {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #777777;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
}
.card-tour__desct ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-tour__text {
  margin-bottom: 8rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.card-tour__text_1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.card-tour__text_2 {
  font-size: 6rem;
  font-weight: 500;
}

.feedBack-card {
  width: 75%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(330deg);
}
.feedBack-card > * {
  transform: skewX(-330deg);
}
.feedBack-card__img {
  width: 15rem;
  height: 15rem;
  background: green;
  float: left;
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}
.feedBack-card__name {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  transition: all 0.5s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/hero/hero_bg.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__box {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3 ) + 6rem);
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4 ) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4 ) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 20rem;
}

.section-adventure {
  padding: 21rem 0;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/adventure/adventure.png) center/cover no-repeat;
  transform: skewY(7deg);
}
.section-adventure > * {
  transform: skewY(-7deg);
}

.section-tour {
  padding-top: 21rem;
  margin-bottom: 8rem;
}

.section-feedBack {
  padding-top: 8rem;
}/*# sourceMappingURL=style.css.map */