*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: "Lato"
    font-weight: 400
    color: #777777
    font-size: 16px
    background-color: #ffffff
    margin:50px

.container
    width: 1340px
    margin: 0 auto   
    background-color: #777777


.hero
    height:745px
    background: linear-gradient(286.73deg, rgba(216, 216, 216, 0.8) -0.77%, rgba(38, 32, 24, 0.8) 100.03%), url(../img/hero/hero_bg.jpg),  center / cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)



