*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family: 'Lato',sans-serif
    font-weight: 400
    color: #777777
    font-size: 16px
    letter-spacing: 2px
    padding: 50px
    background-color: #ffffff

.container
    // width: 1340px
    // margin: 0 auto   
    background-color: #f7f7f7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/hero/hero_bg.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    &__logo
        position: absolute
        left: 50px
        top: 50px
        width: 56px
        height: 70px
    &__box
        position: absolute
        width: 100%
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center
        //overflow: hidden
.title-first
    color: #FFFFFF
    &__main
        display: block
        font-weight: 800
        font-size: 50px
        line-height: 60px
        letter-spacing: 10px
        text-transform: uppercase
        margin-bottom: 10px
        animation-name: leftToRight
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
    &__secondary
        display: block
        font-weight: 100
        font-size: 40px
        line-height: 48px
        letter-spacing: 5px
        animation-name: rightToLeft
        animation-duration: 1.7s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
        margin-bottom: 65px


.btn
    &:link, &:visited
        text-transform: uppercase
        text-decoration: none
        color: #777777
        padding: 15px 40px
        background: white
        border-radius: 50px
        display: inline-block
        transition: all .3s
        position: relative
    &:hover
        transform: translateY(-4px)
        box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.3))
        &::after
            opacity: 0
            transform: scaleX(1.5) scaleY(1.7)
    &:active
        transform: translateY(-2px)
        box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.1))
    &::after
        content: ""
        background: white
        width: 100%
        height: 100%
        border-radius: 50px
        display: inline-block
        position: absolute
        top: 0
        left: 0
        z-index: -1
        transition: all .4s
    &_animated
        animation: btnToUp .5s ease-out .7s
        animation-fill-mode: backwards
        
        
        
@keyframes btnToUp
    0%
        opacity: 0
        transform: translateY(50px)

    100%
        opacity: 1
        transform: translateY(0)

@keyframes leftToRight
    0%
        opacity: 0
        transform: translateX(-100px)
    80%
        transform: translate(20px)
    100%
        opacity: 1
        transform: translateX(0)

@keyframes rightToLeft
    0%
        opacity: 0
        transform: translateX(100px)
    80%
        transform: translate(-10px)
    100%
        opacity: 1
        transform: translateX(0)
// .hero
//     height:745px
//     background: linear-gradient(286.73deg, rgba(216, 216, 216, 0.8) -0.77%, rgba(38, 32, 24, 0.8) 100.03%), url(../img/hero/hero_bg.jpg),  center / cover no-repeat
//     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)



